# Prisma
DATABASE_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]?sslmode=require"

# Clerk Authentication (Get these from your Clerk Dashboard -> API Keys)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_
CLERK_SECRET_KEY=sk_
CLERK_WEBHOOK_SECRET=whsec_

# Clerk (URLs/Paths)
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Domain / Base URL (App production or development URL)
NEXT_PUBLIC_APP_URL=http://localhost:3000
